---
import { LinkButton } from '@astrojs/starlight/components';
import { Image } from 'astro:assets';

const { tagline, getStarted, v1Docs } = Astro.props;
---

<div class="hero-bg">
  <div class="bg-logo"></div>
  <div class="bg-grad"></div>
  <div class="bg-grad-red"></div>
</div>

<div class="lp-content">
  <div class="lp-header lp-hero">
    <div class="lp-header-content">
      <Image class="lp-tauri-logo light" src={import('@assets/logo_light.svg')} alt="Tauri Logo" />
      <Image class="lp-tauri-logo dark" src={import('@assets/logo.svg')} alt="Tauri Logo" />
      <p class="lp-tagline">
        {tagline}
      </p>
      <div class="actions">
        <LinkButton icon="right-arrow" href="/start/">{getStarted}</LinkButton>
        <LinkButton href="https://v1.tauri.app" variant="minimal" icon="external">
          {v1Docs}
        </LinkButton>
      </div>
    </div>
    <Image src={import('@assets/logo-outline.svg')} alt="Tauri outline logo" />
  </div>
</div>
